@use "../../../styles/scrollbar.scss";
/////////////////////////// Adjustable
$panel-width: 230px;
$panel-margin-top: 50px;
$panel-margin-left: 17px;
$option-height: 48px;
$content-line-height: 25px;
$option-padding-inline: 10px;
$option-indicator-width: 24px;
$option-flex-gap: 13px;

////////////////////////////
@mixin centered-hori-and-vert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  width: $panel-width;
  line-height: $content-line-height;
}

.mat-option.mat-option-disabled {
  color: black;
}

.option-wrapper {
  @include centered-hori-and-vert;
  height: $option-height;
  gap: $option-flex-gap;
  padding-inline: $option-padding-inline;

  & > :nth-child(1) {
    @include centered-hori-and-vert;
    flex: 0 0 $option-indicator-width;
  }
  & > :nth-child(2) {
    flex: 1 0 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
  }
  & > :nth-child(3) {
    flex: 0 0 $option-indicator-width;
    color: gray;
    cursor: pointer;
    margin-right: 0;

    &:hover {
      color: red;
    }
  }
}

.selected-option-wrapper {
  @include centered-hori-and-vert;
  width: $panel-width;
  gap: 10px;

  & > :nth-child(1) {
    @include centered-hori-and-vert;
    padding-bottom: 1px;
    flex: 0 0 $option-indicator-width;
    margin-left: $option-padding-inline;
  }
  & > :nth-child(2) {
    flex: 1 0 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
    margin-right: 20px;
  }
}

:host ::ng-deep .mat-select-placeholder {
  padding-left: 20px;
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane .priority-select-panel {
  min-width: 0 !important;
  min-height: 0 !important;
  max-width: none;
  max-height: none;
  overflow-x: hidden;
  width: $panel-width;
  margin-top: $panel-margin-top; // Adjustable
  margin-left: $panel-margin-left; // Adjustable

  // [[[[[ use our scrollbar design, * need to make it work in our code base
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #eee;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 2px rgba(224, 223, 223, 0.699);
    border-radius: 5px;
    background: rgb(167 162 162 / 70%);
  }
  & .mat-option {
    padding-inline: 0px;
  }
  // ]]]]]]
}

//////////////// cv-ed code ////////////////
.priority-select-option {
  width: 10px;
  height: 10px;
  background-color: transparent;
  display: inline-block;
  border-radius: 50%;
}
.priority-select-indicator {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 7px;
  margin-right: 9px;
  margin-top: 2px;
}
//////////////// cv-ed code ////////////////
