<div class="root">
  <mat-select
    [placeholder]="!editMode ? 'Priority' : 'Editing...'"
    [(ngModel)]="selectedItemValue"
    name="priority"
    class="priority-select"
    panelClass="priority-select-panel"
    (openedChange)="onOpenedChange()"
    disableOptionCentering
    disableRipple
  >
    <mat-select-trigger>
      <div
        [class.priority-select-indicator]="controlName === 'priority'"
        [ngStyle]="{ 'background-color': selectedItem.Colour }"
      ></div>
      <!---*overflow hidden text-->
      <span
        [class.margin-left]="controlName !== 'priority'"
        [class]="
          controlName === 'status' ? 'status-tag status-tag--selected' : ''
        "
        [ngStyle]="{
          'background-color':
            controlName !== 'priority' ? selectedItem.Colour : ''
        }"
        >{{ selectedItem.Text }}</span
      >
    </mat-select-trigger>

    <app-drop-down-list-edit
      [(editMode)]="editMode"
      [(optionList)]="optionList"
    >
      <mat-option *ngFor="let item of optionList" [value]="item.Value">
        <div class="option-wrapper">
          <span>
            <div
              [class.priority-select-option]="controlName === 'priority'"
              [ngStyle]="{ 'background-color': item.Colour }"
            ></div>
          </span>
          <span
            [class.status-tag]="controlName === 'status'"
            [ngStyle]="{
              'background-color': controlName === 'status' ? item.Colour : ''
            }"
            >{{ item.Text }}
          </span>
          <mat-icon
            *ngIf="item.Value > 3 && editMode"
            (click)="onDeleteOption(item.Value)"
            >close</mat-icon
          >
        </div>
      </mat-option>
    </app-drop-down-list-edit>

    <!----->
  </mat-select>
</div>
