@use "../styles/scrollbar.scss";

$panel-width: 230px;
$option-height: 48px;
$content-line-height: calc(#{$option-height} - 23px);

@mixin centered-hori-and-vert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  width: $panel-width;
  line-height: $content-line-height;
}

.mat-option.mat-option-disabled {
  color: black;
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane .priority-select-panel {
  min-width: 0 !important;
  min-height: 0 !important;
  max-width: none;
  max-height: none;
  overflow-x: hidden;
  width: $panel-width;
  margin-top: 35px;
  margin-left: 8px;

  // [[[[[ use our scrollbar design, * need to make it work in our code base
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #eee;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 2px rgba(224, 223, 223, 0.699);
    border-radius: 5px;
    background: rgb(167 162 162 / 70%);
  }
  & .mat-option {
    padding-inline: 0px;
  }
  // ]]]]]]
}

//////////////// cv-ed code ////////////////
.priority-select-option {
  width: 10px;
  height: 10px;
  background-color: transparent;
  display: inline-block;
  border-radius: 50%;
}
.priority-select-indicator {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 7px;
  margin-right: 9px;
  margin-top: 2px;
}
//////////////// cv-ed code ////////////////
