<div
  class="option-list"
  [autoScrollToBottomTriggered]="autoScrollToBottomTriggered"
  (onDisableTrigger)="autoScrollToBottomTriggered = $event"
  appAutoScrollToBottom
>
  <ng-content></ng-content>

  <div
    *ngIf="editMode"
    class="create-new-wrapper"
    (click)="$event.stopPropagation()"
  >
    <div
      [ngStyle]="{
        'background-color': inputFocused ? 'white' : ''
      }"
      class="create-new-wrapper__editor"
    >
      <app-colour-picker-mat-select
        [(colourPicked)]="newOptionData.Colour"
      ></app-colour-picker-mat-select>
      <input
        placeholder="Enter an option"
        [(ngModel)]="newOptionData.Text"
        [autoFocusInputFieldTriggered]="autoFocusInputFieldTriggered"
        (onDisableTrigger)="autoFocusInputFieldTriggered = $event"
        (keydown)="$event.stopPropagation()"
        (focus)="inputFocused = true"
        (focusout)="inputFocused = false"
        appAutoFocusInputField
        maxlength="50"
      />
      <mat-icon (click)="onCreateNewOption()">check</mat-icon>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="create-new-wrapper">
  <span
    role="button"
    class="create-new-wrapper__toggle"
    (click)="onToggleEditMode()"
  >
    <mat-icon>edit</mat-icon>
    <span>{{ !editMode ? "Edit options" : "Cancel" }}</span>
  </span>
</div>
