<div
  class="option-list"
  appAutoScrollToBottom
  [autoScrollToBottomTriggered]="autoScrollToBottomTriggered"
  (onDisableTrigger)="autoScrollToBottomTriggered = $event"
>
  <ng-content></ng-content>

  <div *ngIf="editMode" class="create-new-wrapper">
    <div
      [ngStyle]="{ 'background-color': inputFocused ? 'white' : '' }"
      class="option-wrapper create-new-wrapper__editor"
    >
      <app-colour-picker-mat-select
        (onPickColour)="newOptionData.Colour = $event"
        [(panelOpened)]="panelOpened"
      ></app-colour-picker-mat-select>
      <input
        placeholder="Enter an option"
        [(ngModel)]="newOptionData.Text"
        [autoFocusInputFieldTriggered]="autoFocusInputFieldTriggered"
        (onDisableTrigger)="autoFocusInputFieldTriggered = $event"
        (keydown)="$event.stopPropagation()"
        (focus)="inputFocused = true"
        (focusout)="inputFocused = false"
        appAutoFocusInputField
      />
      <mat-icon (click)="onCreateNewOption()">check</mat-icon>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="create-new-wrapper">
  <span
    role="button"
    class="option-wrapper create-new-wrapper__toggle"
    (click)="onToggleEditMode()"
  >
    <mat-icon>{{ !editMode ? "edit" : "close" }}</mat-icon>
    <span>{{ !editMode ? "Edit options" : "Cancel" }}</span>
  </span>
</div>
