@use "../styles/scrollbar.scss";

$panel-width: 230px;
$option-height: 48px;
$content-line-height: calc(#{$option-height} - 23px);
$option-padding-inline: 10px;
$option-indicator-width: 24px;
$option-flex-gap: 10px;

@mixin centered-hori-and-vert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-list {
  max-height: 288px;
  overflow-x: hidden;
  overflow-y: overlay;
}

:host ::ng-deep .option-wrapper {
  @include centered-hori-and-vert;
  height: $option-height;
  gap: $option-flex-gap;
  padding-inline: $option-padding-inline;

  & > :nth-child(1) {
    @include centered-hori-and-vert;
    flex: 0 0 $option-indicator-width;
  }
  & > :nth-child(2) {
    flex: 1 0 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
  }
  & > :nth-child(3) {
    flex: 0 0 $option-indicator-width;
    color: gray;
    cursor: pointer;
    margin-right: 0;

    &:hover {
      color: red;
    }
  }
}

.create-new-wrapper {
  height: $option-height;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;

  &__editor {
    width: 100%;
    padding-inline: $option-padding-inline calc(#{$option-padding-inline} - 1px);
    gap: calc(#{$option-flex-gap}-2px);

    &:hover {
      background-color: #f5f5f5;

      & :nth-child(2) {
        border-color: rgb(211, 211, 211);
      }
    }

    :nth-child(2) {
      width: 120px;
      height: $content-line-height;
      line-height: $content-line-height;
      padding-inline: 3px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.87);
      border: transparent 1px solid;
      border-radius: 4px;
      outline: none;

      &:focus,
      &:hover {
        border-color: rgba(0, 0, 0, 0.678);
      }
    }
    :last-child {
      @include centered-hori-and-vert;
      color: gray;
      cursor: pointer;
      height: 100%;

      &:hover {
        color: green;
      }
    }
  }
  &__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    padding-inline: $option-padding-inline;
    width: 100%;
    height: 100%;

    &:hover {
      background-color: #f5f5f5;
    }
    & > mat-icon {
      transform: scale(0.9);
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
